services:
  db:
    image: postgres:alpine
    container_name: peluqueria-db
    environment:
      POSTGRES_DB: peluqueria_marzetti
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: peluqueria-backend:latest
    container_name: peluqueria-backend
    working_dir: /app
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: peluqueria-nginx
    depends_on:
      - backend
    ports:
      - "8081:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

volumes:
  postgres_data:
