services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: peluqueria-backend:latest
    container_name: peluqueria-backend
    working_dir: /app
    command: ["java", "-jar", "app.jar"]
    ports:
      - "8080:8080"
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    container_name: peluqueria-nginx
    depends_on:
      - backend
    ports:
      - "8081:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
